.paper-page {
  width: 9.4%;
}

.material {
  padding: 10px;
  // border: 1px solid #cccccc;
  margin-bottom: 30px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  cursor: pointer;
}

.material:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image-cropper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.person-wrapper {
  display:flex;
  padding-bottom:25px;
  justify-content: center;
  flex-flow: row wrap;
}

.person {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 180px;
  margin-bottom: 10px;
}

.person a {
  color: $dark-gray;
}

.person-description {
  color: $mid-gray;
}

.video-wrapper {
	position: relative;
	padding-bottom: 53.25%; /* 16:9ish */
	padding-top: 25px;
  height: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}