td.checked {
  // background-color: $green;
  text-align: center;
}

td.checked > span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #B0BEC5;
  border-radius: 3px;
  margin: 0 auto;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  table-layout: fixed;
  width: 100%;
  min-width: 800px;
  white-space: nowrap;
  font-size: 0.6rem;
  // padding: 0;
  // margin: 0;
  // border: none;
  border-collapse: collapse;
  cursor: crosshair;
}

td.rotate {
  border-bottom: #000 1px solid;
  // border-right: #000 1px solid;
}

td.author {
  text-align: right;
  padding-right: 10px;
}

td.year {
  text-align: left;
  border-right: #000 1px solid;
}

td.education {
  border-right: #000 1px solid;
}

td.non-experts {
  border-right: #000 1px solid;
}

td.education {
  border-right: #000 1px solid;
}

td.aggregated {
  border-right: #000 1px solid;
}

td.algorithms {
  border-right: #000 1px solid;
}

td.after {
  border-right: #000 1px solid;
}

td.venue {
  padding-left: 8px;
}

td.rotate > div {
  transform: 
    rotate(-90deg);
  // width: 30px;
  transform-origin: top left;
  text-align: left;
  // padding-top: 5px;
  // margin: auto 0;
  height: 0px;
  padding-left: 8px;
}

tr.top-row td:first-child {
  width: 150px;
}

tr.top-row td:last-child {
  width: 100px; 
}


tr.top-row td:nth-child(2) {
  width: 38px;
}

td.rotate:first-child, td.rotate:last-child{
  transform:
    translate(40px);
}

.top-row div{
  margin-bottom: 275px;
}

.question-title {
  text-align: center;
  font-weight: 700;
  font-size: 0.7rem;
}

#why-title{
  color: $why;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

#who-title{
  color: $who;
  border-right: 1px solid #000;
}

#what-title{
  color: $what;
  border-right: 1px solid #000;
}

#how-title{
  color: $how;
  border-right: 1px solid #000;
}

#when-title{
  color: $when;
  border-right: 1px solid #000;
}

#where-title{
  color: $where;
}

tr.bordered {
    border-bottom: 1px solid #000;
}

tr:nth-child(even) {
    background-color: $rowbackground;
}

tr:nth-child(2){
  background-color: #ffffff !important;
}

.table-caption {
  font-size: 0.8rem;
  color: $mid-gray !important;
  text-align: center;
  padding-bottom: 20px;
}

tr.work {
  height: 20px;
  font-weight: 500;
  // transition: height 0.4s, font-weight 0.4s;
  border-top: 1px solid rgba(0.5,0.5,0.5,0.0);
}

tr.work:hover {
  height: 40px;
  font-weight: 600;
  // transition-delay: 0.1s;
  // background-color: #FFF8E1;
  border: 1px solid #444444 !important;

  td.checked > span {
    background-color: #444444;
  }
}

tr:nth-child(40){
  border-bottom: 1px solid #000000;
}

.submission-message {
  padding: 20px;
  border: $footer-border-top;
  border-radius: 5px;
  background-color: $pre-background-color;
  // max-width: 500px;
  display: block;
  margin: 0 auto;
}